$backcolor: #385D50;
$font: 'Inter', sans-serif;

body {
    font-family: $font;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.active {
    color: white;
}

.header {
    height: 50px;
    margin-top: 50px;
}

.header__inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $backcolor;

    .firts-menu {
        margin-left: auto;
        .menu__list {
            display: flex;
            font-weight: 500;
            font-size: 16px;
            color: #cacaca;
            .menu__list_item{
                padding-right: 43px;
            }
            .menu__list_item:last-child{
                padding-right: 70px;
            }

        }
    }
    .two-menu {
        .menu__img:nth-child(2) {
            padding-left: 15px;
        }
    }
}



